@font-face {
    font-family: BentonSans;
    src: url(./fonts/BentonSans-Regular_T.ttf);
}

@font-face {
    font-family: BentonSansBold;
    src: url(./fonts/BentonSans-Bold_T.ttf);
}

@font-face {
    font-family: BentonSansLight;
    src: url(./fonts/BentonSans-Light_T.ttf);
}

@font-face {
    font-family: BentonSansMedium;
    src: url(./fonts/BentonSans-Medium_T.ttf);
}